<img src="https://raw.githubusercontent.com/bachtiyarmawork/DQLab-Project/main/BP%20-%20Header.png">

# üíæ 1. Variabel

In programming languages, a variable is a storage location used to hold data or information. Variables store values that can later be accessed or manipulated within a program.
<br>

Variable Naming Rules (in Python):

*   Only letters, numbers, and underscores are allowed
*   Variable names cannot start with a number
*   Use variable names that clearly describe their purpose
*   <i>**lowercase** or **snake_case** preferred</i>

<br>

**Example :**
A leading technology company, DQTech, has recorded a revenue of 40 billion rupiah this year. In Python, create a variable to store this value (DQTech‚Äôs revenue).

**Answer :**
```
revenue_DQTech = 40000000000
```

This statement will not produce any output; it only stores the variable in memory.

docs : <i>https://docs.python.org/3/faq/programming.html#what-are-the-rules-for-local-and-global-variables-in-python</i>

### üë®‚Äçüíª Task 1 - A

A transaction code 'TRX20230001' will be stored in a variable. Create a variable and assign this value to it

In [ ]:
# Write your code below here & exec!
transcation_code = 'TRX20230001'

### üë®‚Äçüíª Task 1 - B

To calculate PAT (Profit After Tax) in a program, a Python variable needs to be created to store a VAT (Value Added Tax) value of 12%. Create this variable by writing the code below.

In [ ]:
# Write your code below here & exec!
PPN = 0.12

---

# üñ®Ô∏è 2. Display the variable.

Gunakan fungsi `print()` untuk menampilkan sesuatu pada python

<br>

**Example :**
A leading technology company, DQTech, has recorded a revenue of 40 billion rupiah this year. In Python, create a variable to store this value (DQTech‚Äôs revenue) and display it by adding a brief explanatory sentence.

**Answer :**
```
# Create a variable
revenue_DQTech = 40000000000

# Display the result
print('The revenue earned by DQTech is', revenue_DQTech)

>>> Output:
>>> The revenue earned by DQTech is 40000000000
```
docs : _https://docs.python.org/3/library/functions.html#print_

### üë®‚Äçüíª Task 2 - A

A value 'TRX20230001' will be stored in a variable. Create a variable, assign this value to it, and then display the output.

Use `Style 1 : print('...', variabel1, ...)`

In [ ]:
# Write your code below here & exec!
kode_transaksi= 'TRX20230001'

print('Kode Transaksi :', kode_transaksi)

Kode Transaksi : TRX20230001

### üë®‚Äçüíª Task 2 - B

Use the same command, but apply `Style 2 : print(f'... {variabel}')`

<br><i>Note : f'...{}' in Python is called an f-string or formatted string literal. With f-strings, expressions inside {} are evaluated and their results are inserted directly into the string.</i>

docs : _https://docs.python.org/3/reference/lexical_analysis.html#f-strings_

In [ ]:
# Write your code below here & exec!
print(f'Kode Transaksi : {kode_transaksi}')

Kode Transaksi : TRX20230001

#### ***What happens if a formatted string literal is not used?***

In [ ]:
# Write your code below here & exec!
print('Kode Transaksi :', kode_transaksi)

Kode Transaksi : TRX20230001

#### ***Or using a formatted string literal, but the variable is not enclosed in curly braces. {}?***

In [ ]:
# Write your code below here & exec!
print('Kode Transaksi : ' + kode_transaksi)

Kode Transaksi : TRX20230001

Conclusion:

From this task, we can conclude that displaying variables in Python can be done using different methods, such as standard print() with comma-separated arguments or using formatted string literals (f-strings). Using f-strings provides clearer and more readable output, but the variable must be enclosed in curly braces {} to be evaluated correctly. Without proper formatting, the variable value will not be displayed as intended.

### üë®‚Äçüíª Task 2 - C

Use the same command, but apply the following method `Style 3 : print('... {}'.format(variabel))`

In [ ]:
# Write your code below here & exec!
print('Kode Transaksi : {}'.format(kode_transaksi))

Nomor transaksi yang disimpan adalah TRX20230001

#### ***What happens if there is more than one {} placeholder, but the .format(...) method only provides a single variable?***

In [ ]:
# Write your code below here & exec!
print('Kode {} Transaksi : {}'.format(kode_transaksi, kode_transaksi))

Kode TRX20230001 Transaksi : TRX20230001

Conclusion:

In Task 2-c, we learn that when using the .format() method in Python, the number of {} placeholders must match the number of variables provided. If multiple placeholders are defined but only one variable is supplied, Python will raise an error because it does not have enough values to substitute into the placeholders. This highlights the importance of ensuring consistency between placeholders and the variables passed to .format() when formatting strings.

### üë®‚Äçüíª Task 2 - D

Messi, a customer at DQTech, has the following personal data:     

*   Nama = Messi
*   Usia = 36 Tahun
*   Alamat = Tegal Bahari

Store this information in variables with the expected output shown below

`Messi (36) beralamat di Tegal Bahari merupakan pelanggan loyal di DQTech`

In [ ]:
# Write your code below here & exec!
nama = 'messi'
usia = 36
alamat = 'Tegal Bahari'

print(f'{nama} ({usia}) beralamat di {alamat} merupakan pelanggan loyal di DQTech')

messi (36) beralamat di Tegal Bahari merupakan pelanggan loyal di DQTech

---

# ‚û°Ô∏è 3. Assignment

Assignment is the act of giving a value or data to a variable.
* The variable being assigned must be placed on the left side of the equals sign (=)
* If the same variable is assigned more than once, the last assigned value will be stored
* Python supports assigning a single value to multiple variables
* Python also supports assigning multiple values to multiple variables simultaneously
* The expression on the right-hand side is evaluated first before being assigned to the variable(s) on the left-hand side

### üë®‚Äçüíª Task 3 - A

A metric used in online advertising and digital marketing to measure how often users click on a particular link or advertisement compared to how often it is displayed is commonly referred to as the Click-Through Rate (CTR).

DQTech achieved a CTR of 4.3896%, and this value is intended to be stored in a variable named CTR_DQtech and then displayed. However, Sendja encountered an error while trying to store this variable.

Help Sendja fix the code below.

In [ ]:
# Help Sendja!

# Initialize Variable
4,3896% = 'CTR_DQTech'

# Show the result
pritn('CTR_DQTech')

SyntaxError: ignored

In [ ]:
# Fix it here.
CTR_DQTech = 0.043896
print(f'CTR_DQTech = {CTR_DQTech}%')

CTR_DQTech = 0.043896%

Error becuse? :
The error occurs because Python does not allow the percent sign (%) to be used directly in numeric variable assignments. Writing a percentage value with % makes the syntax invalid.

The required fix is?  :
The required fix is to store the value as a numeric type (such as a float) without the percent symbol, or convert it into its decimal form before assigning it to the variable.

### üë®‚Äçüíª Task 3 - B

Write the assignment of the following important DQTech metric variables in Python in a single line:    

* GMV = 30%
* AOV = 3.567.000
* COGS = 5,6%

*Note : Just One Line Needed!*

In [ ]:
# Write your code below here & exec!
gmv, aov, cogs = 0.30, 3567000, 0.056

# Show the value
print(f'GMV = {gmv}%')
print(f'AOV = Rp.{aov}')
print(f'COGS = {cogs}%')

GMV = 0.3%
AOV = Rp.3567000
COGS = 0.056%

---

# üìà 4. Tipe Data

A data type is the kind of value stored in a variable. The data types in Python are as follows:  : <br><br>    

<table>
  <tr>
    <th>Data Type</th>
    <th>Full Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>str</td>
    <td>string</td>
    <td>Characters / alphabetic text</td>
  </tr>
  <tr>
    <td>int</td>
    <td>integer</td>
    <td>Whole numbers</td>
  </tr>
  <tr>
    <td>float</td>
    <td>floating-point number</td>
    <td>All numbers (both integers and decimals)</td>
  </tr>
  <tr>
    <td>complex</td>
    <td>complex number</td>
    <td>A combination of real numbers and imaginary numbers</td>
  </tr>
  <tr>
    <td>bool</td>
    <td>boolean</td>
    <td>Truth values (True / False)</td>
  </tr>
</table>

Untuk memeriksa tipe data pada sebuah variabel gunakan fungsi `type(variabel)`

<br>

**Example :**
To check the data type of a variable, use a built-in function. A leading technology company, DQTech, has recorded a revenue of 40 billion rupiah this year. In Python, create a variable to store this value (DQTech‚Äôs revenue) and display both the value and its data type by adding a brief explanatory sentence.

**Answer :** 
```
# Make variable
revenue_DQTech = 40000000000

# Display the result
print(f'Pendapatan yang diperoleh DQTech adalah {revenue_DQTech} dengan tipe data {type(revenue_DQTech)}')

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000 dengan tipe data <class 'int'>
```

### üë®‚Äçüíª Task 4 - A

A new application launched by the leading technology company DQTech received a rating of 4.9 (maximum score = 5.0). This value will be stored in a Python variable, so help Sendja create the variable and display both its value and data type.

In [ ]:
# Write your code below here & exec!
rating = 4.9

# Display Output
print(f'Rating yang diperoleh DQTech adalah {rating} dengan tipe data {type(rating)}')

Rating yang diperoleh DQTech adalah 4.9 dengan tipe data <class 'float'>

### üë®‚Äçüíª Task 4 - B

The code written by Sendja below can be executed by Python,

```
retention_rate = '0.8912'

print('Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type}')
```

However, the output is not as expected. Help Sendja fix the mistake he made!

In [ ]:
# Help Sendja!
retention_rate = 0.8912

print(f'Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type(retention_rate)}')

Variabel retention_rate menyimpan nilai = 0.8912 dengan tipe data = <class 'float'>

In [ ]:
# Help Sendja!
retention_rate = 0.8912

print(f'Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type(retention_rate)}')

Variabel retention_rate menyimpan nilai = 0.8912 dengan tipe data = <class 'float'>

What correction was made?:

The correction made is using a formatted string literal (f-string) and properly calling the type() function on the variable so that the variable value and its data type are displayed correctly.

---

# üõ† 5. Data Type Conversion

The data type of a variable can be changed from its original type, provided that the variable is compatible with the conversion. To convert a variable from one data type to another, use the following functions:

<ol>
<li><b>int</b>(variable_name) : used to convert a variable‚Äôs data type into an integer / whole number
<br><i><a href="https://docs.python.org/3/library/functions.html#int">docs : https://docs.python.org/3/library/functions.html#int</a></i></li><br>
<li><b>float</b>(variable_name) : used to convert a variable‚Äôs data type into a float / real number
<br><i><a href="https://docs.python.org/3/library/functions.html#float">docs : https://docs.python.org/3/library/functions.html#float</a></i></li><br>
<li><b>str</b>(variable_name) : used to convert a variable‚Äôs data type into a string
<br><i><a href="https://docs.python.org/3/library/functions.html#func-str">docs : https://docs.python.org/3/library/functions.html#func-str</a></i></li><br>
<li><b>bool</b>(variable_name) : used to convert a variable‚Äôs data type into a boolean
<br><i><a href="https://docs.python.org/3/library/functions.html#bool">docs : https://docs.python.org/3/library/functions.html#bool</a></i></li><br>
</ol>

However, it is important to note that not all variables of a certain data type can be easily converted to another data type.


<br>

**Example :**
A leading technology company, DQTech, has recorded a revenue of 40 billion rupiah this year. In Python, create a variable to store this value (DQTech‚Äôs revenue) and display both its value and its data type by adding a brief explanatory sentence. Then, convert the data type into a float.
**Answer :**
```
# Make variabel
revenue_DQTech = 40000000000

# Display the variable
print(f'Pendapatan yang diperoleh DQTech adalah {revenue_DQTech} dengan tipe data {type(revenue_DQTech)}')

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000 dengan tipe data <class 'int'>
```

Data Type Conversion Process
```
# Make variabel
revenue_DQTech = float(revenue_DQTech)

# Display output
print(f'Pendapatan yang diperoleh DQTech adalah {revenue_DQTech} dengan tipe data {type(revenue_DQTech)}')

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000.0 dengan tipe data <class 'float'>
```

### üë®‚Äçüíª Task 5

Perform any experiment you like to convert the data type of a variable, and display the results as well.

In [ ]:
# Write your code below here & exec!
pi = 3.14

# Display the output
print(f"nilai pi = {pi} dengan tipe data  {type(pi)}")

nilai pi = 3.14 dengan tipe data  <class 'float'>

In [ ]:
pi = 3.14

print(f"nilai pi = {pi} dengan tipe data  {type(pi)}")

nilai pi = 3.14 dengan tipe data  <class 'float'>

---

# üßÆ 6. Operasi Variabel

Variables can also be used in operations, including arithmetic operations and other types of operations. The following are valid variable operations that can be performed in the Python programming language.

<ol>
<li>Arithmetic Operations<br>
Arithmetic operations only apply to one or more variables with numeric data types such as float, int, or complex numbers.</br>

<p align="center">
<img src="http://lam-programming.weebly.com/uploads/2/3/3/2/23323570/screenshot-2018-12-11-11-57-08_orig.png" width="500" height="300" alt="alternatetext">
<p align="center"><b>Figure 1. Operations on Variables</b></p></p><br>

</li>

<li>String Operations<br>
Strings can only be operated on with other strings using the ( + ) operator to concatenate one string with another, or they can also be operated on with an integer using the ( * ) operator to repeat the string according to the specified integer value.</br>

<p align="center">
<img src="https://files.transtutors.com/book/qimg/6bd88be4-d7be-4b4f-859e-2f95e9dc9962.png" width="400" height="500" alt="alternatetext">
<p align="center"><b>Figure 2. Methods on Strings</b></p></p><br>
</li>
</ol>

### üë®‚Äçüíª Task 6 - A

Customer Satisfaction Score (CSAT) is a metric used to measure the level of customer satisfaction with a product or service. It is formulated as:

  \begin{equation}
  CSAT =  \frac{Total\ Respon\ Positif}{Total\ Respon}*100
  \end{equation}

Out of 125 respondents, 13 of them gave negative feedback on the latest application deployed by DQTech due to the discovery of several bugs. Using Python, calculate the CSAT metric value obtained by DQTech.

In [ ]:
# Fill the blank
total_responden = 125
respon_negatif = 13
respon_positif = 112

# Calculate CSAT
CSAT =  (respon_positif/total_responden)*100

# Display CSAT
print(f'Customer Satisfaction Score = {CSAT:.2f}%')

Customer Satisfaction Score = 89.60%

### üë®‚Äçüíª Task 6 - B

Create a variable that stores the value '1nDon3s1A', correct the word '1nDon3s1A' to 'INDONESIA', and then display the result.

In [ ]:
negara = '1nDon3s1A'

# Display the result.
print(negara)

1nDon3s1A

In [ ]:
# Correction 1 ‚Äì Convert everything to uppercase.
negara = '1nDon3s1A'.upper()

# Display the result.

print(negara)

1NDON3S1A

In [ ]:
# Correction 2 ‚Äì Replace the number 1 with the letter I.
negara = '1nDon3s1A'.replace('1', 'I').upper()

# Display the result.
print(negara)

INDON3SIA

In [ ]:
# Correction 3 ‚Äì Replace the number 3 with the letter E.
negara = '1nDon3s1A'.replace('1', 'I').replace('3', 'E').upper()

# Display the result.
print(negara)

INDONESIA

# Tantangan 1 - Konversi Detik menjadi Jam : Menit : Detik

Input a positive value representing a number of seconds, then convert it into hours : minutes : seconds as shown in the examples below:

jumlah_detik = 4518 is equal to 1 hour 15 minutes 18 seconds<br>
jumlah_detik = 370 is equal to 0 hours 6 minutes 10 seconds

In [ ]:
jumlah_detik = input('Masukan jumlah detik : ')

# Perform the conversion here.
jam =  // 3600
menit =
detik = ...

# Display the result
print(f'{jumlah_detik} detik = ... jam ... menit ... detik')

Masukan jumlah detik : 4518
4518 detik = 1 jam 15 menit 18 detik


---

**Written By :** <br>
<a href=www.linkedin.com/in/ksatryaalmy><img alt="Linked In Link" src="https://img.shields.io/badge/-Ksatrya%20%20Almy-0072b1?style=for-the-badge&logo=None&logoColor=white" align="left"/></a>