#üèãüèº‚Äç‚ôÇÔ∏è<b>List</b>

A list is a data type in Python that can store various types of data, including numbers, strings, or even other objects (high flexibility).

List characteristics:

<ol>
  <li>It is denoted by square brackets [ ] during initialization, and its values are separated by commas</li>
  <li>Elements in a list can be modified or updated (<i>changeable</i>)</li>
  <li>Lists allow duplicate values</li>
  <li>Elements in a list are ordered according to the assigned label/index (not alphabetically or numerically)</li>
</ol>

## ‚öîÔ∏è<b>1.Creating a List</b>

<ul>
  <li>List Empty</li>

  ```
  empty_list = []
  ```

  <li>Uniform list</li>

  ```
  trx_code_july23 = ['TRX20230701', 'TRX20230702', 'TRX20230703']
  ```

  <li>Mixed List</li>

  ```
  detail_trx = ['TRX20230701', 1500000, ['Cendol', 'Seblak'], True]
  ```

</ul>

### üë®‚Äçüíª Task 1 - A

The products ‚ÄòBika Ambon‚Äô, ‚ÄòCendol‚Äô, ‚ÄòPete‚Äô, and ‚ÄòYellow Dragon Fruit‚Äô are best seller products this month at DQCommerce. Create a list to store the names of these best seller products.

In [2]:
# Write your code below here & exec!
best_seller_product = ['Bika Ambon', 'Cendol', 'pete', 'Yellow dragon fruit']

### üë®‚Äçüíª Task 1 - B

Display the variable that has been created in Task 1-A, and also display its data type.

In [3]:
# Write your code below here & exec!
print(best_seller_product)
print(type(best_seller_product))

['Bika Ambon', 'Cendol', 'pete', 'Yellow dragon fruit']
<class 'list'>

## üçî <b>2. Number of Elements in a List</b>

Execute the function len(list_name) to obtain the number of elements in a list.

<i>docs : https://docs.python.org/3/library/functions.html#len</i>

### üë®‚Äçüíª Task 2 - A

Kroma, a Risk Manager at DQTech, wants to perform risk mitigation in the data department. The list of tasks to be performed is already provided in the prompt (below).

Help Kroma answer the question: ‚ÄúHow many risk indicators does she need to evaluate?‚Äù

In [7]:
# Initialize list
risk_indicator = ['Kehilangan Data', 'Kualitas Data Buruk', 'Kekurangan Data', 'Data tidak Akurat', 'Pelanggaran Privasi']

# Write your code below here & exec!
print(f'Risk indicator {len(risk_indicator)}')

Risk indicator 5

### üë®‚Äçüíª Task 2 - B
After evaluating several risk indicators, Kroma then provided some additional information. Recheck the number of risk indicators that have been updated by Kroma to ensure accuracy.

In [8]:
update_risk_indicator = [
    ['Kehilangan Data', 'High', 'ASAP'],
    'Kualitas Data Buruk',
    'Kekurangan Data',
    ['Data Tidak Akurat', 'Medium', ['Data Engineer', 'IT Infra']],
    'Pelanggaran Privasi'
]

# Write your code below here & exec!
print(f'Risk indicator {len(update_risk_indicator)}')

Risk indicator 5

##üîé <b>3. Accessing a List</b>

Each element in a list is automatically assigned a position identifier, which is referred to as an index.

<p align="center">
<img src="https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg" width="450" height="200" alt="alternatetext">
<p align="center"><b>Figure 1. Index in a List</b></p></p><br>

<ol>
  <li>To access a single list element at a specific index, use the format <code>list[index]</code></li>
  <li>To access more than one element (from index i to index j), use the format <code>list[index i : index j+1]</code></li>
</ol>

### üë®‚Äçüíª Task 3 - A

From the following product list, display the element that has index 1.

In [9]:
list_produk = ['flash disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'kotak pensil DQLab']

# Write your code below here & exec!
print(list_produk[1])

Buku planner DQLab

### üë®‚Äçüíª Task 3 - B

From the following product list, display the elements that have index 1 through 3.

In [13]:
list_produk = ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab', 'Kantong Ajaib DQLab']

# Write your code below here & exec!
print(list_produk[1:4])

['Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']

### üë®‚Äçüíª Task 3 - C

Display all of the following transaction ID list except for the last two elements.

In [21]:
list_trx_id = ['DQTRX790', 'DQTRX482', 'DQTRX361', 'DQTRX224', 'DQTRX894', 'DQTRX497', 'DQTRX278', 'DQTRX329', 'DQTRX978', 'DQTRX577', 'DQTRX871', 'DQTRX971', 'DQTRX888', 'DQTRX882', 'DQTRX8941', 'DQTRX455']

# Write your code below here & exec!
print(list_trx_id[0:-2])

['DQTRX790', 'DQTRX482', 'DQTRX361', 'DQTRX224', 'DQTRX894', 'DQTRX497', 'DQTRX278', 'DQTRX329', 'DQTRX978', 'DQTRX577', 'DQTRX871', 'DQTRX971', 'DQTRX888', 'DQTRX882']

---

## ü§≥üèº **4. Updating Element List**

To update an element in a list, perform an assignment on the list using the index of the element to be updated.

example :

```
#Inisialisasi list
nama_pelanggan = ['Bang Messi', 'Bang Dodo', 'Ngab Ngalam']

# Update elemen ketiga (index ke-2) menjadi Bang Malang
nama_pelanggan[2] = 'Bang Malang'

print(nama_pelanggan)
```

Output yang dihasilkan adalah

```
nama_pelanggan = ['Bang Messi', 'Bang Dodo', 'Bang Malang']
```

### üë®‚Äçüíª Task 4

Check the writing of the following DQTech customer province data. :     

```
list_province = ['Jawa Barat', 'Sulawsi Utara', 'Bengkulu', 'Kalimantam Timur']
```

Then correct the writing if any errors are found. <i>typing of error (typo)</i>

In [ ]:
# Write your code below here & exec!

# Inisialisasi list
list_provinsi = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur']

# Display the initial list.
print(f'List kota sebelum perbaikan = {list_provinsi}')

# Perform the correction.
list_provinsi[1:4] = ['Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur']

# Display the corrected result.
print(f'List kota setelah perbaikan = {list_provinsi}')

List kota sebelum perbaikan = ['Jawa Barat', 'Sulawsi Utara', 'Bungkulu', 'Kalimantam Timur']
List kota setelah perbaikan = ['Jawa Barat', 'Sulawesi Utara', 'Bengkulu', 'Kalimantan Timur']

## üéß **5. list method**

A list is a class in Python that has built-in methods (available methods). To use a method, add a dot at the end of a variable with the list data type and then call the desired method. Below are some methods available for lists.

<p align="center">
<img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*vusVuQXbsvAxux8b9SIUsg.png" width="450" height="555" alt="alternatetext">
<p align="center"><b>Figure 2. list method</b></p></p><br>

<i>docs : https://docs.python.org/3/tutorial/datastructures.html#more-on-lists</i>

### üë®‚Äçüíª Task 5 - A

After being reviewed again, <b>Goodie Bag DQLab</b> is now included in the list of <i>best seller product</i> from the DQCommerce platform. Add <b>Goodie Bag DQLab</b> to the following <i>existing list</i>.

```
produk_best_seller = ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']
```

In [ ]:
# Inisialisasi list
produk_best_seller = ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']

# Display result
print('Sebelum append', produk_best_seller)

Sebelum append ['Flash Disk DQLab 32GB', 'Buku planner DQLab', 'Gantungan Kunci DQlab', 'Kotak pensil DQLab']

### üë®‚Äçüíª Task 5 - B

Recency, Frequency, Monetary (RFM) analysis is a process used to analyze customer behavior. In determining customer segmentation, the RFM model is used based on three variables: recency of the last transaction, frequency of transactions, and monetary value of each customer‚Äôs transactions.


The transaction frequency data (2022 period) for DQTech customers is presented as follows:

```
trx_frequency = [34, 125, 11, 90, 45, 60, 81, 14, 2, 235]
```

Sort the list in ascending order (from smallest to largest).

In [ ]:
# Inisialisasi list
trx_frequency = [34, 125, 11, 90, 45, 60, 81, 14, 2, 235]

# display Result
print(trx_frequency)

[34, 125, 11, 90, 45, 60, 81, 14, 2, 235]

## ‚ò¢Ô∏è **6. Looping on List**

The list data type can be iterated using a loop (for). Looping (and other processes) over list elements can be used for various purposes, such as filtering elements in a list or performing other operations.

```
list_supply_brg = ['Rautan Pensil', 'Correction Tape', 'Buku Gambar']

# Procces looping
for barang in list_supply_brg:
    print(f'Supply {barang}')
```

### üë®‚Äçüíª Task 6 - A

on this list

```
risk_indicator = ['Kehilangan Data', 'Kualitas Data Buruk', 'Kekurangan Data', 'Data tidak Akurat', 'Pelanggaran Privasi']
```

Display the output as follows to make it easier to read.

```
List Evaluasi Resiko :     
  - Kehilangan Data
  - Kualitas Data Buruk
  - Kekurangan Data
  - Data Tidak Akurat
  - Pelanggaran Privasi
```

In [26]:
# Write your code below here & exec!
risk_indicator = ['Kehilangan Data', 'Kualitas Data Buruk', 'Kekurangan Data', 'Data tidak Akurat', 'Pelanggaran Privasi']

print('List Evaluasi Resiko : ')

for risk in risk_indicator:
  print(f'- {risk}')

List Evaluasi Resiko :
- Kehilangan Data
- Kualitas Data Buruk
- Kekurangan Data
- Data tidak Akurat
- Pelanggaran Privasi

# üìö **Dictionary**

A dictionary is a data type in Python that is used to store a collection of data/values using a ‚Äúkey:value‚Äù approach..<br><br>

<p align="center">
<img src="http://www.trytoprogram.com/images/python_dictionary.jpg" width="400" height="250" alt="alternatetext">
<p align="center"><b>Figure 3. Dictionary</b></p></p><br>

Dictionary characteristics :
<ol>
  <li>It is denoted by curly braces { } during initialization and follows the <code>key : value</code> format</li>
  <li>Elements in a dictionary can be modified or updated (<i>changeable</i>)</li>
  <li>Dictionaries do not allow duplicate keys, but they do allow duplicate values</li>
</ol>



*docs : https://docs.python.org/3/tutorial/datastructures.html#dictionaries*

##‚öôÔ∏è<b>7. making Dictionary</b>

<ul>
  <li>Dictionary Kosong</li>

  ```
  empty_dict = {}
  ```

  <li>Simple Dictionary</li>

  ```
  cust_detail = {
      'cust_code' : 'CUST2021081',
      'cust_name' : 'Bang Messi',
      'age' : 36,
      'is_active' : True
  }
  ```

  <li>Complex Dictionary</li>

  ```
  detail_trx = {
      'trx_code' : 'TRX20230703',
      'cust_code' : 'CUST2021081',
      'product' : {
          'product_name' : ['Cendol', 'Bika Ambon', 'Seblak'],
          'price' : [50000, 75000, 12500],
          'quantity' : [1, 2, 1]
      },
      'total_price' : 212500,
      'disc' : 0.05,
      'trx_date' : '2023-07-27 10:12:45'
  }
  ```

</ul>

### üë®‚Äçüíª Task 7

Convert the following data into a dictionary data type in Python.

<table align="center">
  <tr>
    <td>Nama Barang</td>
    <td>Harga</td>
  </tr>
  <tr>
    <td>Corkcicle</td>
    <td>940000</td>
  </tr>
  <tr>
    <td>Smiggle Drink Bottle</td>
    <td>550000</td>
  </tr>
  <tr>
    <td>Tupperware</td>
    <td>57000</td>
  </tr>
  <tr>
    <td>Botol Kecap Bekas</td>
    <td>1000</td>
  </tr>
</table>

In [ ]:
# Write your code below here & exec!
barang_dan_harga = {
    'Corkcicle': 940000, 'Smiggle': 550000, 'Tupperware': 57000, 'Botol Kecap Bekas': 1000
}

# Show the result
print(barang_dan_harga)

{'Corkcicle': 940000, 'Smiggle': 550000, 'Tupperware': 57000, 'Botol Kecap Bekas': 1000}

##üõ∏<b>8. Method on Dictionary</b>

Similar to lists, dictionaries also have methods that can be used.

<p align="center">
<img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*K1nYbwzrZrcqJm5txv2XSw.png" width="540" height="520" alt="alternatetext">
<p align="center"><b>Figure 4. Method on Dictionary</b></p></p><br>

Note : *To access keys in a dictionary, you can use a method. `dict.get(keys)`*

### üë®‚Äçüíª Task 8 - A

Display only the customer names from the following dictionary.

```
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}
```

In [ ]:
# Write your code below here & exec!
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}

# Show the display
print(cust_detail.get('cust_name'))

Bang Messi

### üë®‚Äçüíª Task 8 - B

The customer with the following code, 'CUST2021081', is currently 40 years old and is no longer an active subscriber due to switching to another competitor.

```
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}
```

Perform an update on the existing data! <br>
(<i>Update age & is_active status, then add reason as a new key</i>)

In [ ]:
cust_detail = {
    'cust_code' : 'CUST2021081',
    'cust_name' : 'Bang Messi',
    'age' : 36,
    'is_active' : True
}

print('Sebelum update', cust_detail)

# Correction
cust_detail['age'] = 40
cust_detail['is_active'] = False
cust_detail['reason'] = 'Change COMPETITOR'

# show the correction
print('Setelah update', cust_detail)

Sebelum update {'cust_code': 'CUST2021081', 'cust_name': 'Bang Messi', 'age': 36, 'is_active': True}
Setelah update {'cust_code': 'CUST2021081', 'cust_name': 'Bang Messi', 'age': 40, 'is_active': False, 'reason': 'Change COMPETITOR'}

##üé†<b>9. Looping Dictionary</b>

Looping can also be performed on a dictionary using the  `.items()`, Execute the following code:

```
for key, value in dict.items():
    ...
```

example :

```
# Variable initialization
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Looping process
for key, value in skill_needed.items():
    print(f'Pada kunci = {key} mempunyai nilai = {value}')
```

### üë®‚Äçüíª Task 9

Convert the following data into a dictionary data type in Python.

<table align="center">
  <tr>
    <td>Nama Barang</td>
    <td>Harga</td>
  </tr>
  <tr>
    <td>Corkcicle</td>
    <td>940000</td>
  </tr>
  <tr>
    <td>Smiggle Drink Bottle</td>
    <td>550000</td>
  </tr>
  <tr>
    <td>Tupperware</td>
    <td>57000</td>
  </tr>
  <tr>
    <td>Botol Kecap Bekas</td>
    <td>1000</td>
  </tr>
</table>

Then display it in the following format.<br>

```
Nama barang 'Corkcicle' dijual dengan harga Rp. 940.000
Nama barang 'Smiggle Drink Bottle' dijual dengan harga Rp. 550.000
Nama barang 'Tupperware' dijual dengan harga Rp. 57.000
Nama barang 'Botol Kecap Bekas' dijual dengan harga Rp. 1.000
```

In [33]:
# Write your code below here & exec!
produk = {
    'Corkcicle': 940000,
    'Smiggle': 550000,
    'Tupperware': 57000,
    'Botol Kecap Bekas': 1000
}

for key, value in produk.items():
  print(f'Nama barang \'{key}\' dijual dengan harga Rp. {value}')

Nama barang 'Corkcicle' dijual dengan harga Rp. 940000
Nama barang 'Smiggle' dijual dengan harga Rp. 550000
Nama barang 'Tupperware' dijual dengan harga Rp. 57000
Nama barang 'Botol Kecap Bekas' dijual dengan harga Rp. 1000

# üìö **More Iterables : Tuple dan Set**

Besides lists and dictionaries, there are two other data types called tuple and set.

<h2>Tuple</h2>
A tuple is similar to a list but is defined using parentheses ( ) and the elements in a tuple cannot be updated (immutable). Example of a tuple:

```
contoh_tuple = ('TRX20230701', 'TRX20230702', 'TRX20230703', 'TRX20230704')
```

<h2>Set</h2>
A set, as the name suggests, is a collection data type that follows set properties. Elements in a set are unordered (indexing does not apply) and do not allow duplicate elements.

```
contoh_set = {'TRX20230701', 'TRX20230702', 'TRX20230703', 'TRX20230704'}
```

<h2>Differences Between Data Types</h2>

In general, the differences between List, Tuple, Set, and Dictionary are presented in the following figure.

<p align="center">
<img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*DxD-6bZrRg7qSa7hg2bbtA.png" width="475" height="180" alt="alternatetext">
<p align="center"><b>Figure 5. Differences Between List, Tuple, Set, and Dictionary</b></p></p><br>

<h2>Method</h2>

For the methods available for each data type, please refer to the following link. <a href="https://hritikaa9.medium.com/python-collections-list-tuple-dictionaries-sets-4d3f046d285c">berikut</a>

---

**Written By :** <br>
<a><img alt="Linked In Link" src="https://img.shields.io/badge/-Ksatrya%20%20Almy-0072b1?style=for-the-badge&logo=None&logoColor=white" align="left"/></a>