# ü§πüèº‚Äç‚ôÇÔ∏è **Condition Statement**

* Branching in Python allows a program to make decisions based on given conditions.
* The condition being executed is a boolean statement (a statement that evaluates to true True or false False).
* To create a boolean statement, comparison operators are generally used.<br><br>

<p align="center">
<img src="https://codeforwin.org/wp-content/uploads/2017/08/if-else-statement-flow-chart.png" width="400" height="310" alt="alternatetext">
<p align="center"><b>Figure 1. Branching Concept</b></p></p><br>

Note : <i>A condition / statement will be checked first. If it is satisfied, a statement will be executed; if not, the next condition will be checked, and so on.</i>

## **1. Comparison Operators**

*   Comparison operators are used to compare two values in order to produce a logical value (<i>logical value</i>)
*   The values being compared must be of the same data type.
<br><br>
<p align="center">
<img src="https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png" width="500" height="220" alt="alternatetext">
<p align="center"><b>Figure 2. Comparison Operators</b></p></p><br>


Note : <i>The symbol ‚Äò=‚Äô (equals) is used to assign a value to a variable, while the symbol ‚Äò==‚Äô is used to compare or check whether two variables have the same value.</i>

### üë®‚Äçüíª Task 1 - A

Create two variables, for example x and y, then assign the value 3 to variable x and the value -4 to variable y. Predict what the output of the following command will be when it is executed.

```
print(x >= y)
```

In [ ]:
# Write your code
x = 3
y = -4

print(x >= y)

True

### üë®‚Äçüíª Task 1 - B

If it is true <u>value</u> of the character / string data type stored in variables are case sensitive (sensitive to uppercase and lowercase letters), try to verify it (prove it)!

In [ ]:
# Write your code 
program1 = 'Python'
program2 = 'python'

print(program1 == program2)

False

### üë®‚Äçüíª Task 1 - C

Execute the following code.

```
a = 3.0000000000000000001
b = 3
c = (a == b)
```

What do you think will be displayed when print(c) is executed afterward? Provide your reason!

In [3]:
# Write your code below here & exec! (19)
a = 3.0000000000000000001
b = 3
c = (a == b)

print(c)

True

#### ***If the number of zeros is reduced, will the result remain the same?***

In [4]:
# Write your code below here & exec! (19)
a = 3.000000000000001
b = 3
c = (a == b)

print(c)

False

Check the documentation here : https://docs.python.org/3/tutorial/floatingpoint.html

##üß© **2. Logical Operators**

*  Logical operators are used to combine and compare two or more boolean statements or conditions.<br><br>

<p align="center">
<img src="https://qph.cf2.quoracdn.net/main-qimg-b21874c7e7bdbefd344ad820798e6ab1" width="500" height="180" alt="alternatetext">
<p align="center"><b>Figure 3. Logical Operators/b></p></p>

With the following conditions:
<ol>
  <li>
     The <b>and</b> condition will evaluate to True if all boolean conditions are true. If even one condition is false (<i>False condition</i>), the result will be False.
  </li>
  <li>
     The <b>or</b> condition will evaluate to True if at least one boolean condition is true. If all conditions are false, then the or condition will produce False.
  </li>
  <li>
     The <b>not</b> condition will negate / reverse the actual condition (True becomes False and vice versa).
  </li>
</ol>

### üë®‚Äçüíª Task 2 - A

To input a value, you can use the `input('text')` function. Misalkan hasil Suppose the user input is stored in a variable named `input_rataan_pengeluaran` then check whether the person‚Äôs average expenditure is between IDR 4 to 7 million. <br><br>


*that input in Python always returns  **string**  so data type conversion may be required.*

In [ ]:
# Write your code below here & exec!
input_rataan_pengeluaran = input('Masukan pengeluaran : ')

# Data type conversion (str ‚Üí float)
input_rataan_pengeluaran = float(input_rataan_pengeluaran)

# Check condition
check = (input_rataan_pengeluaran >= 4) and (input_rataan_pengeluaran <= 7)

# Display the output
print(f'Apakah pengeluaran diantara 4 sampai 7 juta? {check}')

Masukan pengeluaran : 6000
Apakah pengeluaran diantara 4 sampai 7 juta? False

### üë®‚Äçüíª Task 2 - B

Help Sendja fix the system he is building, where if the entered username is the same as the registered email 'sendja@dqtech.com', then the variable check will be set to True (ignoring uppercase and lowercase characters).<br><br>

*Currently, check still has a value of False (see the prompt below).*

In [ ]:
# Write your code below here & exec!
username = 'sEnDJa@DQteCH.CoM'

# Validation Process
check = not (username == 'sendja@dqtech.com')

# Display the result.
print(check)

True

## üé¢ **3. Membership Operator**

* Membership operators are used to test whether a sequence is present within an object.
* Use the command <code><b>in</b></code> for membership testing
* Use the command <code><b>not in</b></code> for non-membership testing

### üë®‚Äçüíª Task 3 - A

check if <b>'Finance'</b> is present in the list `department_name`?

In [ ]:
department_name = ['Sales & Marketing', 'Information & Technology', 'Human Resource', 'General Affairs', 'Finance', 'Coorporate Secretary', 'Research & Development']

# Write your code below here & exec!
check = 'Finance' in department_name

# show the result
print(check)

True

### üë®‚Äçüíª Task 3 - B

Sendja wrote a piece of code to check whether 123 is a member of '123456'. However, an *error* occurs when it is executed. Help Sendja diagnose why this happens and try to perform a *debug process* (fix the code).

In [ ]:
# Initialize Variable
x = 123
y = '123456'

# Check membership
z = (x in y)

# Show result
print(z)

TypeError: 'in <string>' requires string as left operand, not int

In [ ]:
# The corrected result.
x = '123'
y = '123456'

# Check membership
z = (x in y)

# Show result
print(z)

True

## ‚è∞ **4. Statement IF - ELIF - ELSE**

* The <b>if</b> function is a condition used to determine what action should be taken based on a specific situation.
* Statement <code>if</code> placed at the beginning and will always be executed when the program is-*running*.
* the use of <b>if</b> - <b>elif</b> - <b>else</b> can be adjusted according to the desired conditions.
* The general form of the if function is as follows: :

```
    if(first condition):
        statement to be executed if the condition is met
    elif(second condition):
        statement to be executed if the condition is met
     ...

    else:
        default statement to be executed if none of the above conditions are met
```

Note : <i> When a condition is met, the subsequent conditions will not be checked. If it is not met, the next condition will be checked, and so on. If none of the conditions are met, the else condition (default condition) will be executed (this applies sequentially)</i>

### üë®‚Äçüíª Task 4 - A

During a *flash sale*,DQTech offers a 10% discount for every purchase with a minimum total of IDR 100,000. Perform the following simulation:    

1.   Take input for the total purchase amount
2.   Perform data type conversion (str ‚Üí float)
3.   Perform a conditional check 
     If the purchase amount exceeds the minimum purchase, display the prompt <br>**'Congratulations, you get a 10% discount'**
     <br>If not, display <br>**'Sorry, your total purchase has not reached the minimum purchase amount'**

In [ ]:
# 1. Input process for the total purchase amount
total_purchase_str = input("Enter total purchase amount: ")

# 2. Data type conversion
total_purchase = float(total_purchase_str)

# 3. Conditional check
if total_purchase >= 100000:
    print('Selamat anda mendapatkan diskon 10%')
else:
    print('Maaf, total pembelian Anda belum mencapai minimum pembelian.')

Masukkan total pembelian: 12000
Maaf, total pembelian Anda belum mencapai minimum pembelian.

### üë®‚Äçüíª Task 4 - B

After evaluation, the operations manager changed the discount policy to:

*   If the purchase amount is above IDR 75,000, the customer gets a 10% discount
*   If the condition above is not met, the customer only gets a 5% discount

Using the same approach as **Task 4 - A**, but change the output to:

`'You Only Need to Pay IDR YYYYYYY from Your Total Purchase of IDR XXXXXXX'`<br>

<sup>XXXXXXX : <i> Price before discount</i><br>
YYYYYYY : Price after discount</sup>

In [ ]:
# 1. Input process for the total purchase amount
total_pembelian_str = input("Masukkan total pembelian: ")

# 2. Data type conversion
total_pembelian = float(total_pembelian_str)

# 3. Conditional check
if (total_pembelian > 75000):
  print('diskon')
  harga_setelah_diskon = total_pembelian * 0.9
else:
  print('no diskon')
  harga_setelah_diskon = total_pembelian * 0.95

# 4. Calculate the price after the discount
harga_setelah_diskon = harga_setelah_diskon

# Show the result
print(f'Anda Hanya Perlu Membayar IDR {harga_setelah_diskon} dari Total Pembelian Anda IDR {total_pembelian}')

Masukkan total pembelian: 76000
diskon
Anda Hanya Perlu Membayar IDR 68400.0 dari Total Pembelian Anda IDR 76000.0

### üë®‚Äçüíª Task 4 - C

The Human Resource Department at DQTech classifies the Turnover Rate (the percentage of employees who leave a company within a certain period) as follows:
1.	    A Turnover Rate of less than 5% is categorized as ‚ÄòLow‚Äô
2.  	A Turnover Rate between 5% and 10% is categorized as ‚ÄòMedium‚Äô
3.	    A Turnover Rate greater than 10% is categorized as ‚ÄòHigh‚Äô

Suppose at the beginning of 2022, DQTech had 1,500 employees, and by the end of December, the number of remaining employees was 1,316. Calculate the Turnover Rate percentage at DQTech and also display its category using an if statement.

In [ ]:
# Write your code below here & exec!
karyawan_total = 1500
karyawan_bertahan = 1316

turnover_rate = (karyawan_total-karyawan_bertahan)/karyawan_total
if turnover_rate < 0.05:
  print('Low')
elif turnover_rate >= 0.05 and turnover_rate < 0.1:
  print('curently')
elif turnover_rate >= 0.1:
  print('High')

High

## ‚è∞ **5. Nested IF**

Nested if is the use of a condition inside another condition (a condition within a condition). The general form of a nested if is as follows:

    if(first condition):
        if (condition 1 after the first condition is met):
            statement to be executed if the condition is met
        elif(condition 2 after the first condition is met):
            statement to be executed if the condition is met
        ...
        else:
            statement to be executed if the condition is met

    elif(second condition):
        statement to be executed if the condition is met </br>
     ...

    else:
        default statement to be executed if none of the above conditions are met</br>

### üë®‚Äçüíª Task 5

In [ ]:
# Input variabel
a = input('Masukan nilai a : ')
b = input('Masukan nilai b : ')
c = input('Masukan nilai c : ')

# Data Type Convertion
a = float(a)
b = float(b)
c = float(c)

# Nested IF
if (a <= b):
    if (b <= c):
        x, y, z = a, b, c
    elif(a <= c):
        x, y, z = a, c, b
    else:
        x, y, z = c, a, b
else:
    if (a <= c):
        x, y, z = b, a, c
    elif(b <= c):
        x, y, z = b, c, a
    else:
        x, y, z = c, b, a

Masukan nilai a : 13
Masukan nilai b : 42
Masukan nilai c : 23

In [ ]:
print(f'a = {a}, b = {b}, c = {c}')

a = 13.0, b = 42.0, c = 23.0

---

# üîÅ **Looping**

* Looping (iteration) is a statement or instruction given to a computer so that it performs an action repeatedly.

* Looping can only be performed on iterables (such as strings, ranges, lists, dictionaries, etc.).

<p align="center">
<img src="https://www.fireblazeaischool.in/blogs/wp-content/uploads/2020/06/Loop-in-Python-1024x576.png" width="500" height="280" alt="alternatetext">
<p align="center"><b>Figure 4. Flowchart Looping</b></p></p><br>

## ü™§ 6. Looping With For or While
Looping in Python can be performed using the following commands. <b>for</b> Even <b>while</b>

```
while(True Conditions):
    do something
```

Or

```
for element in iterables:
    do something
```

### üë®‚Äçüíª Task 6 - A



```
range(start, stop, step) Display the following number sequence.
```

With looping <i>for</i>,  :

1<br>
4<br>
7<br>
10<br>
13<br>

In [ ]:
# Write your code below here & exec!
for i in range(1, 14, 3):
  print(i)

1
4
7
10
13

### üë®‚Äçüíª Task 6 - B

In Customer Retention Analysis, DQTech defines customer status as follows:

Customers who made a purchase:
*	Within a range of 1‚Äì120 days ago (from the first purchase day) are categorized as New Customer
*	Within a range of 121‚Äì240 days ago (from the first purchase day) are categorized as Need Attention
*	Within a range of 241‚Äì360 days ago (from the first purchase day) are categorized as Hibernating
*	More than 360 days ago are categorized as Can‚Äôt Lose Them

From the following recency analysis results, the data obtained are:
[187, 76, 51, 43, 89, 451, 12, 200, 12]


Write code to display the results as follows:
```
Recency = 187 falls into the Need Attention category
Recency = 76 falls into the New Customer category
...
```

Want to know a related project on Customer Segmentation using the RFM Method? ya! https://exchange.tableau.com/en-GB/products/531_

In [ ]:
data_recency = [187, 76, 51, 43, 89, 451, 12, 200, 12, 89, 90, 3891, 900]

# Write your code below here & exec!
for r in data_recency:
  print(f'Recency = {r} in category', end = ' ')
  if(1 <= r <= 120):
    print('New Customer')
  elif(121 <= r <= 240):
    print('Need Attention')
  elif(241 <= r <= 360):
    print('Hibernating')
  else:
    print('cant lose them')

Recency = 187 in category Need Attention
Recency = 76 in category New Customer
Recency = 51 in category New Customer
Recency = 43 in category New Customer
Recency = 89 in category New Customer
Recency = 451 in category cant lose them
Recency = 12 in category New Customer
Recency = 200 in category Need Attention
Recency = 12 in category New Customer
Recency = 89 in category New Customer
Recency = 90 in category New Customer
Recency = 3891 in category cant lose them
Recency = 900 in category cant lose them

---

# üïµüèª‚Äç‚ôÇÔ∏è **Function**

* A function is an organized and reusable block of code that is used to perform a specific related action.
* Functions provide better modularity for a program and enable a high level of code reuse.

* General form of a function:

```
def function_name(argument):
    function_body
    return (result)
```

*Arguments and <i>return</i> values are optional; either one or both may be omitted.*


Notes :
<li>A function can be called multiple times</li>
<li>Function naming follows rules similar to variable naming rules</li>

## ‚öñÔ∏è 7. Argumen

Arguments (also referred to by some as parameters) are used as free variables that can be initialized by the user and are required to be provided if no default value is set. Pay attention to the following example.

```
def display_customer(customer_name):
    print(f'Customer name = {customer_name}')
```

When the function is called and its argument is initialized, the following result will be obtained.

```
tampilkan_pelanggan(cust_name = 'Aksara')

output :
   Nama pelanggan = Aksara
```

Sedangkan jika tidak dipanggil argumennya maka akan mengakibatkan error

```
tampilkan_pelanggan()

output :
   ---------------------------------------------------------------------------
   TypeError                                 Traceback (most recent call last)
   <ipython-input-7-8e3e4532eb31> in <cell line: 1>()
   ----> 1 tampilkan_pelanggan()

   TypeError: tampilkan_pelanggan() missing 1 required positional argument: 'cust_name'
```

### üë®‚Äçüíª Task 7

Create a function named `jenis_bilangan` with an argument named `data` (this argument is a numeric list data type). Example:

```
list_data = [1, 2, 6, 4, 3]

jenis_bilangan(data = list_data)

output :
    Number 1 is an odd number
    Number 2 is an even number
    Number 6 is an even number
    Number 4 is an even number
    Number 3 is an odd number
```

In [ ]:
# Write your code below here & exec!

def jenis_bilangan(data):
  for i in data:
    if i % 2 == 0:
      print(f'numbers {i} including odd')
    else:
      print(f'numbers {i} including odd numbers')

In [ ]:
# List data
list_data = [1, 2, 6, 4, 3, -5, -8, 0]

# Apply the function.
jenis_bilangan(data = list_data)

numbers 1 including odd numbers
numbers 2 including odd
numbers 6 including odd
numbers 4 including odd
numbers 3 including odd numbers
numbers -5 including odd numbers
numbers -8 including odd
numbers 0 including odd

## ü§ñ **8. Default Argumen**

* A default argument is a value assigned to a function parameter when no value is provided by the function caller for that parameter.
* When the function is called, if the caller does not provide a value for a parameter that has a default argument, the default value will be used.

```
def tampilkan_pelanggan(cust_name = 'Anonymous'):
    print(f'Nama pelanggan = {cust_name}')
```

When the function is called but the cust_name argument is not initialized, the default value will be used.

```
tampilkan_pelanggan()

output :
    Nama pelanggan = Anonymous
```

However, if the cust_name argument is given a value, the default argument will be replaced.

```
tampilkan_pelanggan(cust_name = 'Aksara')

output :
   Nama pelanggan = Aksara
```

Therefore, it can be concluded that if an argument does not have a default value, it must be provided (mandatory). If a default argument is set, its status changes from mandatory to optional.

### üë®‚Äçüíª Task 8

One of the ETL processes is data extraction, which involves retrieving data. To convert data from an SQL database into a pandas DataFrame (data that can be processed using Python), you can use the read_sql function.<br><br>

Visit the official documentation page for pandas.read_sql below. https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html

##üé£**9. Return**

* Return is used as a return value (a function produces an object / value).
* It is optional.

Consider the following example:

```
def hasil_kali_dengan_return(x, y):
    result = x * y
    return(result)
```

If the function is executed, then:

```
z = hasil_kali_dengan_return(x = 5, y = -2)

print(z)

output :     
    -10
```

---

Compare it with:

```
def hasil_kali_tanpa_return(x, y):
    result = x * y
```

If the function is executed, then:

```
z = hasil_kali_tanpa_return(x = 5, y = -2)

print(z)

output :     
    None
```

Conclusion:
If you want to obtain a value from the result of a function execution, you need to use return. Otherwise, it is not necessary.

### üë®‚Äçüíª Task 9

Create a function named rataan_data with an argument named data (this argument is a numeric list data type). Example:

```
list_data = [1, 2, 6, 8, 4, 3]

mean = rataan_data(data = list_data)

print(f'Rataan dari data {list_data} adalah {mean}')

output :     
    Rataan dari data [1, 2, 6, 8, 4, 3] adalah 4
```

In [ ]:
# Write your code below here & exec!
def rataan_data(data):
  total = 0
  for i in data:
    total += i
  return total/len(data)

In [ ]:
list_data = [1, 2, 6, 8, 4, 3]

mean = rataan_data(data = list_data)

print(f'Rataan dari data {list_data} adalah {mean}')

Rataan dari data [1, 2, 6, 8, 4, 3] adalah 4.0

---

**Written By :** <br>
<a><img alt="Linked In Link" src="https://img.shields.io/badge/-Ksatrya%20Almy-0072b1?style=for-the-badge&logo=None&logoColor=white" align="left"/></a>